#### Group

### Imports

In [ ]:
!pip install mlxtend
#import sys
#!{sys.executable} -m pip install mlxtend

In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import (apriori,
                                       association_rules)
from collections import Counter

In [2]:
from mlxtend.frequent_patterns import fpgrowth

### Data

In [3]:
itemsets = pd.read_pickle("./itemsets.pickle")

In [4]:
itemsets[0:2]

[['Face',
  'Grand Theft Auto',
  'Halo',
  'Head',
  'Human',
  'Indoors',
  'Man',
  'Person'],
 ['Accessories',
  'Accessory',
  'Apparel',
  'Banister',
  'Clothing',
  'Coat',
  'Handrail',
  'Human',
  'Indoors',
  'Jacket',
  'Overcoat',
  'Person',
  'Prison',
  'Railing',
  'Staircase',
  'Suit',
  'Tie']]

In [7]:
len(itemsets)

2851272

In [9]:
itemsets[0][0]

'Face'

#### Inspect items

In [5]:
list_itemsets = [inner for outer in itemsets for inner in outer]

In [11]:
list_itemsets[0:10]

['Face',
 'Grand Theft Auto',
 'Halo',
 'Head',
 'Human',
 'Indoors',
 'Man',
 'Person',
 'Accessories',
 'Accessory']

In [6]:
count_items = Counter(list_itemsets)

In [7]:
count_items.most_common()[0:10]

[('Human', 2635223),
 ('Person', 2635223),
 ('Apparel', 1789043),
 ('Clothing', 1789043),
 ('Face', 1128286),
 ('Indoors', 951423),
 ('Coat', 728494),
 ('Room', 713099),
 ('Furniture', 657729),
 ('Man', 610639)]

In [20]:
count_items.most_common()[0][0]

'Human'

#### Test counter

In [10]:
z = ['green','blue', 'red', 'blue', 'yellow', 'blue', 'red']
count_z = Counter(z)

In [11]:
count_z.most_common()

[('blue', 3), ('red', 2), ('green', 1), ('yellow', 1)]

### Part 2 Association Rules

In [6]:
def get_df_items(itemsets):
    transaction_encoder = TransactionEncoder()
    transaction_encoded_ary = transaction_encoder.fit(itemsets).transform(itemsets)
    #Dataframe
    df = pd.DataFrame(transaction_encoded_ary, columns= transaction_encoder.columns_)
    return df

#### Data prep

In [18]:
from mlxtend.preprocessing import TransactionEncoder

In [26]:
te = TransactionEncoder()
te_ary = te.fit(itemsets).transform(itemsets)
te_ary

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [27]:
#Dataframe
df = pd.DataFrame(te_ary, columns=te.columns_)

In [32]:
df['Female'].value_counts()

False    2258011
True      593261
Name: Female, dtype: int64

In [31]:
len(df['Female'] == False)

2851272

#### Frequent Items

In [5]:
def get_freq_items(minimum_support, df):
    
    frequent_itemsets = apriori(df, 
        min_support = minimum_support,   
        use_colnames=True
        )
    return frequent_itemsets

In [59]:
#Initialise arbitrary minimum support
minimum_support = 0.1 #Arbitrary - try others e.g - 0.1, 0.2, 0.3

In [60]:
#Apriori Algorithm
frequent_itemsets = apriori(df, 
        min_support = minimum_support,   
        use_colnames=True
        )

In [37]:
#Display
frequent_itemsets = frequent_itemsets[['itemsets', 'support']] #Change column order
frequent_itemsets

                                       itemsets   support
0                                     (Apparel)  0.627454
1                                    (Clothing)  0.627454
2                                        (Coat)  0.255498
3                                        (Face)  0.395713
4                                      (Female)  0.208069
..                                          ...       ...
78           (Human, Clothing, Person, Indoors)  0.229986
79               (Room, Human, Person, Indoors)  0.244616
80     (Human, Clothing, Person, Apparel, Coat)  0.254630
81     (Human, Clothing, Person, Apparel, Face)  0.277243
82  (Human, Clothing, Person, Apparel, Indoors)  0.229986

[83 rows x 2 columns]

#### Rules

In [55]:
#Initialise minimum confidence
min_confidence = 0.05 #Arbitrary - try others e.g - 0.2, 0.5

In [56]:
#Rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold = min_confidence)

In [40]:
#Display
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_columns', len(rules.columns))
rules

C:\Users\Hannah Craddock\Anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Clothing),(Apparel),0.627454,0.627454,0.627454,1.000000,1.593741,0.233755,inf
1,(Apparel),(Clothing),0.627454,0.627454,0.627454,1.000000,1.593741,0.233755,inf
2,(Apparel),(Coat),0.627454,0.255498,0.255498,0.407198,1.593741,0.095185,1.255903
3,(Coat),(Apparel),0.255498,0.627454,0.255498,1.000000,1.593741,0.095185,inf
4,(Apparel),(Face),0.627454,0.395713,0.278967,0.444601,1.123544,0.030675,1.088024
...,...,...,...,...,...,...,...,...,...
503,(Human),"(Apparel, Clothing, Person, Indoors)",0.924227,0.229986,0.229986,0.248841,1.081985,0.017427,1.025102
504,(Clothing),"(Human, Apparel, Person, Indoors)",0.627454,0.229986,0.229986,0.366538,1.593741,0.085680,1.215565
505,(Person),"(Human, Clothing, Apparel, Indoors)",0.924227,0.229986,0.229986,0.248841,1.081985,0.017427,1.025102
506,(Apparel),"(Human, Clothing, Person, Indoors)",0.627454,0.229986,0.229986,0.366538,1.593741,0.085680,1.215565
507,(Indoors),"(Apparel, Human, Clothing, Person)",0.333684,0.619021,0.229986,0.689233,1.113424,0.023428,1.225930

#### Filter Female Rules

In [57]:
rules_female = rules[rules['antecedents'] == {'Female'}] #Woman, girl

In [58]:
rules_female

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
30,(Female),(Human),0.208069,0.924227,0.206738,0.993603,1.075064,0.014435,11.845343
32,(Female),(Person),0.208069,0.924227,0.206738,0.993603,1.075064,0.014435,11.845343
183,(Female),"(Human, Person)",0.208069,0.924227,0.206738,0.993603,1.075064,0.014435,11.845343

### Part 2: Filter for female

In [3]:
filterX = 'Female'
itemsets_female = [x for x in itemsets if filterX in x]

In [7]:
#Create ohe dataframe
df_female = get_df_items(itemsets_female)

In [49]:
df_female.head()

,Abies,Absinthe,Abyssinian,Acanthaceae,Accessories,Accessory,Accipiter,Accordion,Acrobatic,Adapter,...,Wristwatch,Xylophone,Yacht,Yard,Yarn,Yew,Yoga,Zebra,Zebra Crossing,Zoo
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### 1. Fpgrowth

In [48]:
df_female_fp = fpgrowth(df_female, min_support= 0.01, max_len = 1, use_colnames=True)

In [44]:
df_female_fp.head(60)

     support           itemsets
0   1.000000           (Female)
1   0.993603            (Human)
2   0.993603           (Person)
3   0.656013             (Face)
4   0.530471            (Woman)
5   0.356743             (Hair)
6   0.337775          (Indoors)
7   0.274050      (Photography)
8   0.274050            (Photo)
9   0.219999             (Head)
10  0.204942         (Portrait)
11  0.086822            (Smile)
12  0.026311           (Selfie)
13  0.042592             (Skin)
14  0.021190            (Mouth)
15  0.021190              (Lip)
16  0.844350         (Clothing)
17  0.844350          (Apparel)
18  0.246462             (Room)
19  0.161760           (Finger)
20  0.054426            (Court)
21  0.047284  (Interior Design)
22  0.020984              (Ear)
23  0.117876              (Man)
24  0.103226         (Outdoors)
25  0.070207          (Sitting)
26  0.063352           (Nature)
27  0.020436            (Water)
28  0.018976            (Urban)
29  0.251771             (Coat)
30  0.237292           (People)
31  0.162524         (Overcoat)
32  0.146590           (Dating)
33  0.103400           (Jacket)
34  0.055245         (Building)
35  0.015620       (Pedestrian)
36  0.013915             (Road)
37  0.011093             (Path)
38  0.359331             (Girl)
39  0.208746            (Child)
40  0.208746              (Kid)
41  0.203255             (Teen)
42  0.131679           (Blonde)
43  0.051490       (Restaurant)
44  0.179017            (Crowd)
45  0.132903              (Pub)
46  0.123290      (Bar Counter)
47  0.070075             (Food)
48  0.069084         (Audience)
49  0.025759       (Food Court)
50  0.018134        (Cafeteria)
51  0.013530             (Cafe)
52  0.097330           (Sleeve)
53  0.013778         (Lighting)
54  0.087887        (Performer)
55  0.042248              (Jaw)
56  0.043011              (Hug)
57  0.012044         (Vacation)
58  0.237302        (Furniture)
59  0.071040      (Electronics)

### 2. Frequent Items

In [8]:
min_support = 0.2
df_freq_female = get_freq_items(min_support, df_female)

In [9]:
df_freq_female.head(30)

     support              itemsets
0   0.844350             (Apparel)
1   0.208746               (Child)
2   0.844350            (Clothing)
3   0.251771                (Coat)
4   0.656013                (Face)
5   0.205318             (Fashion)
6   1.000000              (Female)
7   0.237302           (Furniture)
8   0.359331                (Girl)
9   0.356743                (Hair)
10  0.219999                (Head)
11  0.993603               (Human)
12  0.337775             (Indoors)
13  0.208746                 (Kid)
14  0.237292              (People)
15  0.993603              (Person)
16  0.274050               (Photo)
17  0.274050         (Photography)
18  0.204942            (Portrait)
19  0.246462                (Room)
20  0.203255                (Teen)
21  0.530471               (Woman)
22  0.844350   (Apparel, Clothing)
23  0.251771       (Apparel, Coat)
24  0.529566       (Face, Apparel)
25  0.205291    (Apparel, Fashion)
26  0.844350     (Apparel, Female)
27  0.208150  (Apparel, Furniture)
28  0.291698       (Girl, Apparel)
29  0.300997       (Apparel, Hair)

In [23]:
df_freq_female.sort_values(by = ['support'], ascending = False) #.head()

      support                                           itemsets
6    1.000000                                           (Female)
11   0.993603                                            (Human)
279  0.993603                            (Human, Female, Person)
77   0.993603                                    (Human, Female)
81   0.993603                                   (Female, Person)
..        ...                                                ...
424  0.200431              (Photo, Person, Photography, Apparel)
358  0.200431                  (Human, Photo, Clothing, Apparel)
398  0.200431                    (Human, Photo, Female, Apparel)
722  0.200431  (Human, Photo, Clothing, Person, Apparel, Female)
630  0.200431            (Human, Photo, Female, Person, Apparel)

[759 rows x 2 columns]

In [20]:
df_freq_female.to_csv('df_freq_female.csv')

In [37]:
#Display
frequent_itemsets = frequent_itemsets[['itemsets', 'support']] #Change column order
frequent_itemsets

                                       itemsets   support
0                                     (Apparel)  0.627454
1                                    (Clothing)  0.627454
2                                        (Coat)  0.255498
3                                        (Face)  0.395713
4                                      (Female)  0.208069
..                                          ...       ...
78           (Human, Clothing, Person, Indoors)  0.229986
79               (Room, Human, Person, Indoors)  0.244616
80     (Human, Clothing, Person, Apparel, Coat)  0.254630
81     (Human, Clothing, Person, Apparel, Face)  0.277243
82  (Human, Clothing, Person, Apparel, Indoors)  0.229986

[83 rows x 2 columns]

#### Save and read in

In [24]:
df2 = pd.read_csv('df_freq_female.csv')

In [26]:
df2.head(30)

    Unnamed: 0   support                             itemsets
0            0  0.844350               frozenset({'Apparel'})
1            1  0.208746                 frozenset({'Child'})
2            2  0.844350              frozenset({'Clothing'})
3            3  0.251771                  frozenset({'Coat'})
4            4  0.656013                  frozenset({'Face'})
5            5  0.205318               frozenset({'Fashion'})
6            6  1.000000                frozenset({'Female'})
7            7  0.237302             frozenset({'Furniture'})
8            8  0.359331                  frozenset({'Girl'})
9            9  0.356743                  frozenset({'Hair'})
10          10  0.219999                  frozenset({'Head'})
11          11  0.993603                 frozenset({'Human'})
12          12  0.337775               frozenset({'Indoors'})
13          13  0.208746                   frozenset({'Kid'})
14          14  0.237292                frozenset({'People'})
15          15  0.993603                frozenset({'Person'})
16          16  0.274050                 frozenset({'Photo'})
17          17  0.274050           frozenset({'Photography'})
18          18  0.204942              frozenset({'Portrait'})
19          19  0.246462                  frozenset({'Room'})
20          20  0.203255                  frozenset({'Teen'})
21          21  0.530471                 frozenset({'Woman'})
22          22  0.844350   frozenset({'Clothing', 'Apparel'})
23          23  0.251771       frozenset({'Coat', 'Apparel'})
24          24  0.529566       frozenset({'Face', 'Apparel'})
25          25  0.205291    frozenset({'Fashion', 'Apparel'})
26          26  0.844350     frozenset({'Female', 'Apparel'})
27          27  0.208150  frozenset({'Furniture', 'Apparel'})
28          28  0.291698       frozenset({'Girl', 'Apparel'})
29          29  0.300997       frozenset({'Hair', 'Apparel'})

### Association Rules

#### Data prep

In [18]:
from mlxtend.preprocessing import TransactionEncoder

In [14]:
te = TransactionEncoder()
te_ary = te.fit(itemsets_female).transform(itemsets_female)

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [16]:
#Dataframe
df_female = pd.DataFrame(te_ary, columns=te.columns_)

### Part 3: Filter for Male

In [15]:
filterXX = 'Man'
itemsets_male = [x for x in itemsets if filterXX in x]

In [16]:
#Create ohe dataframe
df_male = get_df_items(itemsets_male)

In [17]:
df_male

,Abies,Absinthe,Acanthaceae,Accessories,Accessory,Accipiter,Accordion,Acrobatic,Adapter,Adventure,...,Wristwatch,X-Ray,Xylophone,Yacht,Yard,Yew,Yoga,Zebra Crossing,Zipper,Zoo
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610634,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
610635,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
610636,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
610637,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
610638,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### Frequent Items

In [18]:
min_support = 0.2
df_freq_male = get_freq_items(min_support, df_male)

In [19]:
df_freq_male.head(30)

     support                  itemsets
0   0.254641             (Accessories)
1   0.254641               (Accessory)
2   0.748595                 (Apparel)
3   0.748595                (Clothing)
4   0.403901                    (Coat)
5   0.764147                    (Face)
6   0.290034                    (Head)
7   0.998369                   (Human)
8   0.379239                 (Indoors)
9   1.000000                     (Man)
10  0.310301                (Overcoat)
11  0.998369                  (Person)
12  0.328649                   (Photo)
13  0.328649             (Photography)
14  0.236626                (Portrait)
15  0.287371                    (Room)
16  0.239484                    (Suit)
17  0.254641  (Accessories, Accessory)
18  0.223237    (Apparel, Accessories)
19  0.223237   (Accessories, Clothing)
20  0.212867       (Face, Accessories)
21  0.254455      (Accessories, Human)
22  0.254641        (Man, Accessories)
23  0.254455     (Person, Accessories)
24  0.223237      (Apparel, Accessory)
25  0.223237     (Accessory, Clothing)
26  0.212867         (Face, Accessory)
27  0.254455        (Accessory, Human)
28  0.254641          (Man, Accessory)
29  0.254455       (Person, Accessory)

In [22]:
df_freq_male.tail(50)

      support                                           itemsets
797  0.221732      (Face, Human, Person, Apparel, Overcoat, Man)
798  0.233441       (Human, Indoors, Person, Apparel, Man, Room)
799  0.239457      (Human, Person, Apparel, Overcoat, Suit, Man)
800  0.205681  (Human, Photo, Person, Photography, Apparel, Man)
801  0.221732       (Face, Human, Clothing, Overcoat, Man, Coat)
802  0.287548         (Face, Human, Clothing, Person, Man, Coat)
803  0.221732    (Face, Clothing, Human, Person, Overcoat, Coat)
804  0.221732      (Face, Clothing, Person, Overcoat, Man, Coat)
805  0.310224     (Human, Clothing, Person, Overcoat, Man, Coat)
806  0.239457       (Human, Clothing, Overcoat, Suit, Man, Coat)
807  0.239457         (Human, Clothing, Person, Suit, Man, Coat)
808  0.239457    (Clothing, Human, Person, Overcoat, Suit, Coat)
809  0.239457      (Clothing, Person, Overcoat, Suit, Man, Coat)
810  0.219375      (Face, Human, Clothing, Person, Indoors, Man)
811  0.221732     (Face, Human, Clothing, Person, Overcoat, Man)
812  0.233441      (Human, Clothing, Person, Indoors, Man, Room)
813  0.239457     (Human, Clothing, Person, Overcoat, Suit, Man)
814  0.205681  (Human, Photo, Person, Photography, Clothing, ...
815  0.221732         (Face, Human, Person, Overcoat, Man, Coat)
816  0.239457         (Human, Person, Overcoat, Suit, Man, Coat)
817  0.217390          (Face, Human, Indoors, Person, Man, Room)
818  0.318550     (Face, Human, Photo, Person, Photography, Man)
819  0.235969        (Face, Human, Photo, Person, Portrait, Man)
820  0.235969  (Face, Human, Person, Photography, Portrait, Man)
821  0.235969   (Face, Human, Photo, Photography, Portrait, Man)
822  0.235969  (Face, Photo, Human, Person, Photography, Port...
823  0.235969  (Face, Photo, Person, Photography, Portrait, Man)
824  0.235969  (Human, Photo, Person, Photography, Portrait, ...
825  0.223137  (Clothing, Human, Person, Apparel, Man, Access...
826  0.221732  (Face, Clothing, Human, Apparel, Overcoat, Man...
827  0.287548  (Face, Clothing, Human, Person, Apparel, Man, ...
828  0.221732  (Face, Clothing, Human, Person, Apparel, Overc...
829  0.221732  (Face, Clothing, Person, Apparel, Overcoat, Ma...
830  0.310224  (Clothing, Human, Person, Apparel, Overcoat, M...
831  0.239457  (Clothing, Human, Apparel, Overcoat, Suit, Man...
832  0.239457  (Clothing, Human, Person, Apparel, Suit, Man, ...
833  0.239457  (Clothing, Human, Person, Apparel, Overcoat, S...
834  0.239457  (Clothing, Person, Apparel, Overcoat, Suit, Ma...
835  0.219375  (Face, Clothing, Indoors, Person, Apparel, Hum...
836  0.221732  (Face, Clothing, Human, Person, Apparel, Overc...
837  0.233441  (Clothing, Indoors, Person, Apparel, Human, Ma...
838  0.239457  (Clothing, Human, Person, Apparel, Overcoat, S...
839  0.205681  (Photo, Clothing, Person, Photography, Apparel...
840  0.221732  (Face, Human, Person, Apparel, Overcoat, Man, ...
841  0.239457  (Human, Person, Apparel, Overcoat, Suit, Man, ...
842  0.221732  (Face, Clothing, Human, Person, Overcoat, Man,...
843  0.239457  (Clothing, Human, Person, Overcoat, Suit, Man,...
844  0.235969  (Face, Photo, Human, Person, Photography, Port...
845  0.221732  (Face, Clothing, Human, Person, Apparel, Overc...
846  0.239457  (Clothing, Human, Person, Apparel, Overcoat, S...

#### Min Support = 10%

In [23]:
min_support = 0.1
df_freq_male = get_freq_items(min_support, df_male)

In [19]:
df_freq_male.head(30)

     support                  itemsets
0   0.254641             (Accessories)
1   0.254641               (Accessory)
2   0.748595                 (Apparel)
3   0.748595                (Clothing)
4   0.403901                    (Coat)
5   0.764147                    (Face)
6   0.290034                    (Head)
7   0.998369                   (Human)
8   0.379239                 (Indoors)
9   1.000000                     (Man)
10  0.310301                (Overcoat)
11  0.998369                  (Person)
12  0.328649                   (Photo)
13  0.328649             (Photography)
14  0.236626                (Portrait)
15  0.287371                    (Room)
16  0.239484                    (Suit)
17  0.254641  (Accessories, Accessory)
18  0.223237    (Apparel, Accessories)
19  0.223237   (Accessories, Clothing)
20  0.212867       (Face, Accessories)
21  0.254455      (Accessories, Human)
22  0.254641        (Man, Accessories)
23  0.254455     (Person, Accessories)
24  0.223237      (Apparel, Accessory)
25  0.223237     (Accessory, Clothing)
26  0.212867         (Face, Accessory)
27  0.254455        (Accessory, Human)
28  0.254641          (Man, Accessory)
29  0.254455       (Person, Accessory)

In [26]:
#Support = 10%
df_freq_male.head(30)

     support                  itemsets
0   0.254641             (Accessories)
1   0.254641               (Accessory)
2   0.748595                 (Apparel)
3   0.140513             (Bar Counter)
4   0.748595                (Clothing)
5   0.403901                    (Coat)
6   0.128781                   (Court)
7   0.181980                   (Crowd)
8   0.764147                    (Face)
9   0.114521                  (Female)
10  0.121242                  (Finger)
11  0.159487               (Furniture)
12  0.193695                    (Hair)
13  0.290034                    (Head)
14  0.998369                   (Human)
15  0.379239                 (Indoors)
16  0.180542                  (Jacket)
17  1.000000                     (Man)
18  0.310301                (Overcoat)
19  0.177640                  (People)
20  0.147554               (Performer)
21  0.998369                  (Person)
22  0.328649                   (Photo)
23  0.328649             (Photography)
24  0.236626                (Portrait)
25  0.149003                     (Pub)
26  0.287371                    (Room)
27  0.239484                    (Suit)
28  0.158146                     (Tie)
29  0.254641  (Accessories, Accessory)

### FPGrowth

In [30]:
df_male_freqfp = fpgrowth(df_male, min_support= 0.05, use_colnames=True)

In [33]:
df_male_freqfp.head(60)

     support               itemsets
0   1.000000                  (Man)
1   0.998369               (Person)
2   0.998369                (Human)
3   0.764147                 (Face)
4   0.379239              (Indoors)
5   0.290034                 (Head)
6   0.328649                (Photo)
7   0.328649          (Photography)
8   0.236626             (Portrait)
9   0.149003                  (Pub)
10  0.140513          (Bar Counter)
11  0.097052               (Dating)
12  0.748595             (Clothing)
13  0.748595              (Apparel)
14  0.403901                 (Coat)
15  0.310301             (Overcoat)
16  0.287371                 (Room)
17  0.254641            (Accessory)
18  0.254641          (Accessories)
19  0.239484                 (Suit)
20  0.181980                (Crowd)
21  0.158146                  (Tie)
22  0.128781                (Court)
23  0.092842   (Leisure Activities)
24  0.064719   (Musical Instrument)
25  0.177640               (People)
26  0.193695                 (Hair)
27  0.180542               (Jacket)
28  0.075934               (Blazer)
29  0.079893          (Electronics)
30  0.159487            (Furniture)
31  0.057419                (Table)
32  0.147554            (Performer)
33  0.121242               (Finger)
34  0.072809              (Sitting)
35  0.061462                 (Wood)
36  0.078758      (Interior Design)
37  0.064066                (Plant)
38  0.114521               (Female)
39  0.066660             (Outdoors)
40  0.052699               (Sleeve)
41  0.052178                (Woman)
42  0.050878                  (Jaw)
43  0.057423           (Night Life)
44  0.092857                (Shirt)
45  0.055833             (Musician)
46  0.053552                 (Skin)
47  0.058973           (Home Decor)
48  0.060189                 (Door)
49  0.066525              (Glasses)
50  0.998369          (Person, Man)
51  0.998369        (Person, Human)
52  0.998369           (Man, Human)
53  0.998369   (Person, Man, Human)
54  0.764147            (Face, Man)
55  0.762699          (Face, Human)
56  0.762699         (Person, Face)
57  0.762699     (Face, Man, Human)
58  0.762699    (Person, Man, Face)
59  0.762699  (Person, Face, Human)

In [36]:
df_male_freqfp2 = fpgrowth(df_male, min_support= 0.01, use_colnames=True)

In [41]:
df_male_freqfp2.head(60)

     support              itemsets
0   1.000000                 (Man)
1   0.998369              (Person)
2   0.998369               (Human)
3   0.764147                (Face)
4   0.379239             (Indoors)
5   0.290034                (Head)
6   0.043599    (Grand Theft Auto)
7   0.328649         (Photography)
8   0.328649               (Photo)
9   0.236626            (Portrait)
10  0.149003                 (Pub)
11  0.140513         (Bar Counter)
12  0.097052              (Dating)
13  0.039231               (Drink)
14  0.039231            (Beverage)
15  0.022377               (Glass)
16  0.020767             (Alcohol)
17  0.748595             (Apparel)
18  0.748595            (Clothing)
19  0.403901                (Coat)
20  0.310301            (Overcoat)
21  0.287371                (Room)
22  0.254641         (Accessories)
23  0.254641           (Accessory)
24  0.239484                (Suit)
25  0.181980               (Crowd)
26  0.158146                 (Tie)
27  0.128781               (Court)
28  0.092842  (Leisure Activities)
29  0.064719  (Musical Instrument)
30  0.045809             (Necktie)
31  0.030465               (Piano)
32  0.177640              (People)
33  0.034431            (Audience)
34  0.012716              (Speech)
35  0.011128    (Press Conference)
36  0.193695                (Hair)
37  0.180542              (Jacket)
38  0.075934              (Blazer)
39  0.015295             (Haircut)
40  0.022006             (Dungeon)
41  0.013551               (Crypt)
42  0.079893         (Electronics)
43  0.044011              (Screen)
44  0.033481             (Monitor)
45  0.033481             (Display)
46  0.032859      (Transportation)
47  0.032055             (Vehicle)
48  0.026664       (Shaking Hands)
49  0.159487           (Furniture)
50  0.057419               (Table)
51  0.022937               (Shelf)
52  0.017197              (Worker)
53  0.012538               (Light)
54  0.147554           (Performer)
55  0.015200              (Window)
56  0.121242              (Finger)
57  0.020420                (Hand)
58  0.072809             (Sitting)
59  0.061462                (Wood)